{
  "env": {
    "browser": true,
    "es6": true,
    "jest": true,
    "worker": true
  },
  "extends": ["airbnb"],
  "rules": {
    "react/jsx-filename-extension": 0,
    "react/prop-types": 0
  }
}
